.rc-prod-list {
    display: flex;
    flex-wrap: wrap;
}

.rc-product-list-item {
    background-color: #fff;
    width: calc(33% - 37px);
    margin: 10px;
    padding: 10px;

    &:nth-child(3n) {
        margin-right: 0;
    }
}

.rc-prod-item-img {
    width: 125px;
}

.rc-prod-price {
    @include font-size(1.8);
}

.rc-prod-item-link {
    @include font-size(1.6);
}