// breakpoints
$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // xtra large or super wide screen

$base-font: sans-serif, Verdana;


// colors
$base-bg: #f1f1f1;
$base-white: #fff;